{% extends 'base.html' %}

{% block content %}
    <div style="margin:5% 20% ; text-align: center; border:solid 5px white; color:white; font-size: 2.0em;">
        <form method="POST">
            {% csrf_token %}
            <div style="margin-top:30px; font-weight: bold;">
                공격자: {{ 유저이름 }}
                {{ attacker.username }}
                <input name="attacker" type="hidden" value="{{ attacker.username }}">

            </div>
            <br/>
            Defender:
            <select name="defender">

                {% for player in defender %}
                    <option value="{{ player.username }}">{{ player.username }}</option>
                {% endfor %}
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Attacker Choice:

            <select name="atk_choice">
                {% for i in choice %}
                    <option value="{{ i.rps }}">{{ i.rps }}</option>
                {% endfor %}
            </select>

            <br/><br/>
            <div style="margin-bottom:30px;">
                <input  class="btn btn-outline-light" type="submit" value="도전!!" style="width:300px; border-width:3px; font-weight:bold; font-size:0.7em;">
            </div>
        </form>
    </div>
{% endblock %}