{% extends 'base.html' %}

{% block content %}
    <div style="margin:10% auto; text-align: center">
        <a href="#" class="btn btn-outline-light" role="button" aria-pressed="true" style="font-size: 20px; font-weight:bold; border-width:3px; padding: 15px 60px; margin:0px 35px;">다른 유저와 게임하기</a>
        <a href="#" class="btn btn-outline-light" role="button" aria-pressed="true" style="font-size: 20px; font-weight:bold; border-width:3px; padding: 15px 60px; margin:0px 35px;">컴퓨터와 게임하기</a>
    </div>
{% endblock %}